<h1>Edit Customer</h1>

<%= form_tag build_widget_url(:update, @individual.id ), :remote => true do %>
    <%= render 'form' %>

    <%= submit_tag "Submit", individual: { disable_with: "Please wait..." }  %>

<% end %>

<div id="nav">
  <%= link_to_remote 'Back', build_widget_url(:index) %>
</div>