<p>
  <strong>Name:</strong>
  <%= @individual.current_first_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @individual.current_last_name %>
</p>


<div id="nav">
  <%= link_to_remote 'Back', build_widget_url(:index) %>
</div>