<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @website.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @website.subtitle %>
</p>


<%= link_to 'Back', websites_path %>